{% set title = 'DataTable' %}
{% set filename = 'table-datatable.html' %}

{% extends 'src/layouts/master.html' %}
{% block content %}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Case Valuation</h3>

            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Member Portal</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Value a Case</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="modal-primary me-1 mb-1 d-inline-block">
            <!-- Button trigger for primary themes modal -->
            <button type="button" class="btn btn-outline-primary mb-4 mt-3" data-bs-toggle="modal"
                data-bs-target="#primary">
                START A NEW CVR
            </button>

            <!--primary theme Modal -->
            <div class="modal fade text-left" id="primary" tabindex="-1" role="dialog"
                aria-labelledby="myModalLabel160" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                    role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h5 class="modal-title white" id="myModalLabel160">DISCLAIMER
                            </h5>
                            <button type="button" class="close" data-bs-dismiss="modal"
                                aria-label="Close">
                                <i data-feather="x"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                           <p>
                            CVR and its affiliates are not responsible for the content of any third-party website to which links are provided from this website. Any links to websites are provided for your information and convenience only.
                           </p>
                           <p>
                            CVR and its affiliates are not responsible for the content of any third-party website to which links are provided from this website. Any links to websites are provided for your information and convenience only.


                           </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light-secondary"
                                data-bs-dismiss="modal">
                                <i class="bx bx-x d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Close</span>
                            </button>
                            <button type="button" class="btn btn-primary ms-1"
                                data-bs-dismiss="modal">
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Accept</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="card">
          
            <div class="card-body">
                <table class="table table-striped" id="table1">
                    <thead>
                        <tr>
                            
                            <th>IW Name</th>
                            <th>CVR Code</th>
                            <th>Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><i class="fa-solid fa-file-pdf fa-lg" style="color: #2598b9;"></i> Jhonatan's Million Dollar Valutaion</td>
                            <td>20QYO</td>
                            <td><a href="#" class="badge bg-warning">AI</a></td>
                            <td><i class="fa-solid fa-trash"></i> <i class="fa-solid fa-pen-to-square"></i> <i class="fa-sharp fa-solid fa-share"></i></td>
                           
                        </tr>
                        <tr>
                            <td><i class="fa-solid fa-file-pdf fa-lg" style="color: #2598b9;"></i> Jhonatan's Million Dollar Valutaion</td>
                            <td>20QYO</td>
                            <td><a href="#" class="badge bg-warning">AI</a></td>
                            <td><i class="fa-solid fa-trash"></i> <i class="fa-solid fa-pen-to-square"></i> <i class="fa-sharp fa-solid fa-share"></i></td>
                           
                        </tr>
                        <tr>
                            <td><i class="fa-solid fa-file-pdf fa-lg" style="color: #2598b9;"></i> Jhonatan's Million Dollar Valutaion</td>
                            <td>20QYO</td>
                            <td><a href="#" class="badge bg-warning">AI</a></td>
                            <td><i class="fa-solid fa-trash"></i> <i class="fa-solid fa-pen-to-square"></i> <i class="fa-sharp fa-solid fa-share"></i></td>
                           
                        </tr>
                        <tr>
                            <td><i class="fa-solid fa-file-pdf fa-lg" style="color: #2598b9;"></i> Jhonatan's Million Dollar Valutaion</td>
                            <td>20QYO</td>
                            <td><a href="#" class="badge bg-warning">AI</a></td>
                            <td><i class="fa-solid fa-trash"></i> <i class="fa-solid fa-pen-to-square"></i> <i class="fa-sharp fa-solid fa-share"></i></td>
                           
                        </tr>
                        <tr>
                            <td><i class="fa-solid fa-file-pdf fa-lg" style="color: #2598b9;"></i> Jhonatan's Million Dollar Valutaion</td>
                            <td>20QYO</td>
                            <td><a href="#" class="badge bg-warning">AI</a></td>
                            <td><i class="fa-solid fa-trash"></i> <i class="fa-solid fa-pen-to-square"></i> <i class="fa-sharp fa-solid fa-share"></i></td>
                           
                        </tr>
                        <tr>
                            <td><i class="fa-solid fa-file-pdf fa-lg" style="color: #2598b9;"></i> Jhonatan's Million Dollar Valutaion</td>
                            <td>20QYO</td>
                            <td><a href="#" class="badge bg-warning">AI</a></td>
                            <td><i class="fa-solid fa-trash"></i> <i class="fa-solid fa-pen-to-square"></i> <i class="fa-sharp fa-solid fa-share"></i></td>
                           
                        </tr>
                        <tr>
                            <td><i class="fa-solid fa-file-pdf fa-lg" style="color: #2598b9;"></i> Jhonatan's Million Dollar Valutaion</td>
                            <td>20QYO</td>
                            <td><a href="#" class="badge bg-warning">AI</a></td>
                            <td><i class="fa-solid fa-trash"></i> <i class="fa-solid fa-pen-to-square"></i> <i class="fa-sharp fa-solid fa-share"></i></td>
                           
                        </tr>
                        <tr>
                            <td><i class="fa-solid fa-file-pdf fa-lg" style="color: #2598b9;"></i> Jhonatan's Million Dollar Valutaion</td>
                            <td>20QYO</td>
                            <td><a href="#" class="badge bg-warning">AI</a></td>
                            <td><i class="fa-solid fa-trash"></i> <i class="fa-solid fa-pen-to-square"></i> <i class="fa-sharp fa-solid fa-share"></i></td>
                           
                        </tr>
                        <tr>
                            <td><i class="fa-solid fa-file-pdf fa-lg" style="color: #2598b9;"></i> Jhonatan's Million Dollar Valutaion</td>
                            <td>20QYO</td>
                            <td><a href="#" class="badge bg-warning">AI</a></td>
                            <td><i class="fa-solid fa-trash"></i> <i class="fa-solid fa-pen-to-square"></i> <i class="fa-sharp fa-solid fa-share"></i></td>
                           
                        </tr>
                        <tr>
                            <td><i class="fa-solid fa-file-pdf fa-lg" style="color: #2598b9;"></i> Jhonatan's Million Dollar Valutaion</td>
                            <td>20QYO</td>
                            <td><a href="#" class="badge bg-warning">AI</a></td>
                            <td><i class="fa-solid fa-trash"></i> <i class="fa-solid fa-pen-to-square"></i> <i class="fa-sharp fa-solid fa-share"></i></td>
                           
                        </tr>
                        <tr>
                            <td><i class="fa-solid fa-file-pdf fa-lg" style="color: #2598b9;"></i> Jhonatan's Million Dollar Valutaion</td>
                            <td>20QYO</td>
                            <td><a href="#" class="badge bg-warning">AI</a></td>
                            <td><i class="fa-solid fa-trash"></i> <i class="fa-solid fa-pen-to-square"></i> <i class="fa-sharp fa-solid fa-share"></i></td>
                           
                        </tr>
                        <tr>
                            <td><i class="fa-solid fa-file-pdf fa-lg" style="color: #2598b9;"></i> Jhonatan's Million Dollar Valutaion</td>
                            <td>20QYO</td>
                            <td><a href="#" class="badge bg-warning">AI</a></td>
                            <td><i class="fa-solid fa-trash"></i> <i class="fa-solid fa-pen-to-square"></i> <i class="fa-sharp fa-solid fa-share"></i></td>
                           
                        </tr>
                        <tr>
                            <td><i class="fa-solid fa-file-pdf fa-lg" style="color: #2598b9;"></i> Jhonatan's Million Dollar Valutaion</td>
                            <td>20QYO</td>
                            <td><a href="#" class="badge bg-warning">AI</a></td>
                            <td><i class="fa-solid fa-trash"></i> <i class="fa-solid fa-pen-to-square"></i> <i class="fa-sharp fa-solid fa-share"></i></td>
                           
                        </tr>
                        <tr>
                            <td><i class="fa-solid fa-file-pdf fa-lg" style="color: #2598b9;"></i> Jhonatan's Million Dollar Valutaion</td>
                            <td>20QYO</td>
                            <td><a href="#" class="badge bg-warning">AI</a></td>
                            <td><i class="fa-solid fa-trash"></i> <i class="fa-solid fa-pen-to-square"></i> <i class="fa-sharp fa-solid fa-share"></i></td>
                           
                        </tr>
                        <tr>
                            <td><i class="fa-solid fa-file-pdf fa-lg" style="color: #2598b9;"></i> Jhonatan's Million Dollar Valutaion</td>
                            <td>20QYO</td>
                            <td><a href="#" class="badge bg-warning">AI</a></td>
                            <td><i class="fa-solid fa-trash"></i> <i class="fa-solid fa-pen-to-square"></i> <i class="fa-sharp fa-solid fa-share"></i></td>
                           
                        </tr>
                        <tr>
                            <td><i class="fa-solid fa-file-pdf fa-lg" style="color: #2598b9;"></i> Jhonatan's Million Dollar Valutaion</td>
                            <td>20QYO</td>
                            <td><a href="#" class="badge bg-warning">AI</a></td>
                            <td><i class="fa-solid fa-trash"></i> <i class="fa-solid fa-pen-to-square"></i> <i class="fa-sharp fa-solid fa-share"></i></td>
                           
                        </tr>
                        <tr>
                            <td><i class="fa-solid fa-file-pdf fa-lg" style="color: #2598b9;"></i> Jhonatan's Million Dollar Valutaion</td>
                            <td>20QYO</td>
                            <td><a href="#" class="badge bg-warning">AI</a></td>
                            <td><i class="fa-solid fa-trash"></i> <i class="fa-solid fa-pen-to-square"></i> <i class="fa-sharp fa-solid fa-share"></i></td>
                           
                        </tr>
                        <tr>
                            <td><i class="fa-solid fa-file-pdf fa-lg" style="color: #2598b9;"></i> Jhonatan's Million Dollar Valutaion</td>
                            <td>20QYO</td>
                            <td><a href="#" class="badge bg-warning">AI</a></td>
                            <td><i class="fa-solid fa-trash"></i> <i class="fa-solid fa-pen-to-square"></i> <i class="fa-sharp fa-solid fa-share"></i></td>
                           
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</div>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="assets/extensions/simple-datatables/style.css">
<link rel="stylesheet" href="assets/scss/pages/simple-datatables.scss">
{% endblock %}
{% block js %}
<script src="assets/extensions/simple-datatables/umd/simple-datatables.js"></script>
<script src="assets/static/js/pages/simple-datatables.js"></script>
{% endblock %}